# Ignore system and macOS files
.DS_Store
.vscode/
.Trash/
Library/
Movies/
Music/
Pictures/
Public/
Downloads/

alpha.dSYM/Contents/Info.plist
alpha.dSYM/Contents/Resources/DWARF/alpha
alpha.dSYM/Contents/Resources/Relocations/aarch64/alpha.yml
alpha_parser.dSYM/Contents/Info.plist
alpha_parser.dSYM/Contents/Resources/DWARF/alpha_parser
alpha_parser.dSYM/Contents/Resources/Relocations/aarch64/alpha_parser.yml
alpha
lex.yy.c
output.txt
test.c
parser.tab.c
parser.tab.h
test.alpha
remake.sh
runTests.sh
parser.output
*.o